* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-light: #f1f1f1;
  --font-dark: #303030;
  --font-mid: #616161;
  --font-light: #e3e3e3;
  --bg-dark: #1a1a1a;
  --bg-mid: #f3f3f3;
--stroke-light-100: rgba(255, 255, 255, 0.20);
--states-focused: #005BD3

}

body {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--body-light);
  font-size: 13px;
  font-weight: 500;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 0.4rem 0.6rem;
  font-size: 11px;
 font-weight: 600;
}

.hidden {
  display: none;
}



/* ================================================= */
nav {
  background-color: var(--bg-dark);
  color: #fff;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.inner-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.search {
  /* border: 1px solid #FFF; */
  width: 400px;
  height: 68%;
}
.search-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 5px 10px;
  }
  .search-input {
    width: 100%;
    margin-left: 10px;
    background: none;
    outline: none;
    border: none;
    color: var(--font-light);

  }
.notify {
  /* border: 1px solid #FFF; */
  width: 230px;
  height: 68%;
  display: flex;
  justify-content: space-between;
  position: relative;

}


/* ==========centered */
.notification, .profile-name, .profile-span {
    display: flex;
    align-items: center;
    justify-content: center;
}
.notification {
  height: 100%;
  width: 50px;
 
}

.profile {
  height: 100%;
  width: 170px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-name {
    padding: 0.8rem;
    color: var(--font-light);
}
.profile-span {
    width: 40px;
    background-color: #36FBA1;
    height: 100%;
    border-radius: 8px;
    color: var(--font-dark);
    font-size: 15px;
    letter-spacing: 1px;


}
.badge-box {
  background-color: var(--font-dark);
  border-radius: 8px;
}
.notify-dropdown, .profile-menu {
  min-height: 100px;
  width: 350px;
  background-color: #fff;
  color: var(--font-mid);
  border: 1px solid var(--font-light);
  position: absolute;
  top: 3.22rem;
  right: 0;
  border-radius: 10px;
}



/* ===========================MAIN */
.main {
  height: 400px;
  width: 800px;
  /* border: 1px solid black; */
  margin: 0 auto;
  margin-top: 6.5rem;
  margin-bottom: 4rem;
}
/* =======================TRIAL STYLES */
.trial-box {
  height: 55px;
  background-color: var(--bg-dark);
  color: var(--font-light);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
}
.trial-inner-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.trial-btns {
  display: flex;
  align-items: center;
}
.trial-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--body-light);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  margin-right: 0.7rem;
}
.trial-btns a {
  text-decoration: none;
}

/* ==================== ACCORDION STYLES */
.accordion-box {
  min-height: 100px;
  background-color: #fff;
  border: 1px solid var(--font-light);
  color: var(--font-dark);
  border-radius: 10px;
  margin-top: 1rem;
  font-weight: 400;
  padding: 1rem;
}
.texts-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.texts-inner-box p {
margin: 0.5rem 0 1rem 0;
}
/* .texts-inner-box {

} */

.progress-box {
  display: flex;
  align-items: center;
}
.progress-range {
  margin-left: 1rem;
}

/* -------------- */
.checks-box {
  margin-top: 1.5rem;
}
.check {
  min-height: 50px;
  width: 100%;
  display: flex;
  padding: 0.8rem;
  background-color: var(--bg-mid);
  border-radius: 10px;
  margin-bottom: 1rem;
}

/* .uncheck {
} */
.check-texts {
  margin-left: 0.3rem;
  margin-top: 5px;
  width: 445px;
}
.check-texts p {
  margin: 1.4rem 0;
  line-height: 18.5px;
}
.check-text-btn {
border: 1.5px solid var(--stroke-light-100);
background: #404040;
color: var(--font-light);
box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333, 0px 2px 0px 0px #000;
}
.check-infos a {
  color: var(--states-focused);
  font-weight: 500;
}