* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --body-light: #f1f1f1;
  --font-dark: #303030;
  --font-dark-2: #323232;
  --font-mid: #616161;
  --font-light: #e3e3e3;
  --font-light-2: #f6f3f6;
  --bg-dark: #1a1a1a;
  --bg-mid: #f3f3f3;
  --stroke-light-100: rgba(255, 255, 255, 0.2);
  --stroke-s-50: #dbdbdb;
  --stroke-s-100: #e1e1e1;
  --stroke-s-200: #616161;
  --grey-g-50: #656266;
  --grey-g-100: #b5b5b5;
  --grey-g-200: #303030;
  --grey-g-300: #1a1a1a;
  --states-hover: #f1f1f1;
  --states-pressed: #f0f0f0;
  --states-focused: #005bd3;
  --white: #fff;
}

body {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--body-light);
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
}

.hidden {
  display: none;
  transition: all 300ms ease-in;
}
.container {
  position: relative;
  height: 100vh;
}

/* ================================================= */
header {
  background-color: var(--bg-dark);
  color: var(--font-light);
  height: 56px;
  display: flex;
  align-items: center;
  padding: 12px 16px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
}
.m-logo {
  display: none;
}
.search {
  border: 1px solid var(--stroke-s-200);
  width: 480px;
  height: 32px;
  padding: 8px;
  display: flex;
  align-items: center;
  transition: all 200ms ease-in;
}
.search:hover {
  border: 1px solid var(--stroke-s-100);
}
.search:focus-within {
  border: 2px solid var(--white);
}

.search-input {
  width: 100%;
  margin-left: 6px;
  background: none;
  outline: none;
  border: none;
  font-size: 13px;
  color: var(--font-light);
  transition: all 200ms ease-in;
}
.menu-wrapper {
  /* border: 1px solid #FFF; */
  /* width: 230px; */
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  position: relative;
}

/* ==========centered */
.notification,
.profile-name,
.profile-span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification {
  height: 32px;
  width: 32px;
  border: none;
  outline: none;
  background: none;
  transition: all 200ms ease-in;
}

.profile-menu-trigger {
  height: 32px;
  width: 142px;
  display: flex;
  align-items: center;
  padding-inline: 0;
  padding-block: 0;
  padding: 2px 2px 2px 8px;
  border: none;
  background: none;
  outline: none;
  gap: 8px;
  transition: all 200ms ease-in;
}
.profile-name {
  width: 96px;
  height: 9px;
  font-size: 12px;
  font-weight: 500;
  color: var(--font-light);
  margin-right: 8px;
}
.profile-span {
  width: 28px;
  background-color: #36fba1;
  height: 28px;
  border-radius: 6px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 12px;
  font-weight: 500;
}
.notification:hover,
.profile-menu-trigger:hover {
  background-color: var(--font-mid);
}
.notification:focus,
.profile-menu-trigger:focus {
  background: var(--grey-g-50);
  outline: 2px solid #005bd3;
  outline-offset: 1px;
}
.badge-box {
  background-color: var(--grey-g-200);
  border-radius: 8px;
  
}
.alert-dropdown,
.profile-menu {
  display: flex;
  width: 320px;
  height: 382px;
  padding: 6px 0px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  border-radius: 14px;
  border: 1px solid var(--stroke-s-50);
  background: var(--white);

  /* Drop Shadow */
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.05);
  /* ------------- */

  color: var(--font-mid);
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
}
.alert-dropdown {
  height: 118px;
  padding: 14px;
  
}
.alert-panel-heading {
  height: 20px;
  display: flex;
justify-content: space-between;
align-items: center;
align-self: stretch;

}
.alert-icons {
  height: 20px;
  width: 50px;
  display: flex;
  gap: 10px;
}
.alert-icon-blue {
  width: 20px;
height: 20px;
  border: 0.75px solid  var(--states-focused);
  border-radius: 5px;
}
.alert-panel-body {
  margin-top: 16px;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px;
  background: var(--states-hover);
}
.alert-panel-body p {
  color: var(--font-mid);

font-size: 11px;
font-style: normal;
font-weight: 600;
line-height: 140%; /* 18.2px */
}
.profile-menu-heading {
  height: 72px;
  display: flex;
  padding: 0px 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  border-bottom: 0.75px solid #e1e1e1;
}

.profile-tag {
  height: 36px;
  display: flex;
  padding: 4px 12px 4px 8px;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  border-radius: 8px;
  background: var(--states-hover);
}
.pro-tag-box {
  width: 141px;
  height: 28px;
  display: flex;
align-items: center;
gap: 8px;
}
.pro-name {
  font-size: 13px;
  font-weight: 600;
}
.store-box {
  height: 32px;
  display: flex;
  padding: 6px;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  border-radius: 8px;
}
.profile-menu-body-1 {
  border-bottom: 0.75px solid #e1e1e1;
  height: 176px;
  display: flex;
  padding: 4px 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}
.profile-menu-body-2 {
  display: flex;
  padding: 0px 6px;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
}

.profile-menu-item {
  height: 30px;
  padding: 6px;
}
.profile-menu-item button {
  outline: none;
  border: none;
  background: none;
  color: var(--font-dark);

  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 18.2px */
}
.item2 {
  height: 50px;
  padding: 8px;
}
.item2-email {
  font-size: 12px;
  color: var(--grey-g-100);
}
/* ====================active menu */
.menu-active {
  display: block;
}

/* ===========================MAIN */
.main {
  /* height: 178px; */
  max-width: 800px;
  /* border: 1px solid black; */
  margin: 0 auto;
  margin-top: 32px;
  margin-bottom: 4rem;
}
/* =======================TRIAL STYLES */
.trial-box {
  height: 56px;
  width: 100%;
  background-color: var(--grey-g-300);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 8px 12px 16px;
  transition: all 200ms ease-in;

}
.trial-text-box {
  height: 18px;
  font-size: 13px;
  font-weight: 500;
  color: var(--font-light);
}
.trial-text {
  max-width: 369px;
  font-size: 13px;
  font-weight: 500;
  color: var(--font-light);
  line-height: 18.2px;
}

.trial-btns {
  height: 32px;
  width: 139px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.trial-btn {
  height: 28px;
  width: 99px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: var(--white);
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
  margin-right: 8px;
  font-size: 12px;
  font-weight: 600;
  transition: all 200ms ease-in;
  /* line-height: 15.6px; */
}
.trial-btn:hover {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #f7f7f7;
  box-shadow: 0px -1px 0px 0px #b5b5b5 inset;
}
.trial-btn:pressed {
  background: #f7f7f7;
  box-shadow: 0px 2px 1.5px 0px #e2e2e2 inset;
}
.trial-btn:focus {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: var(--White, #fff);
  outline: 2px solid #005bd3;
  outline-offset: 3px;
}
.trial-btns a {
  text-decoration: none;
}
.l-trial-close, .m-trial-close {
  outline: none;
  border: none;
  background: none;
  height: 28px;
  width: 28px;
  transition: all 200ms ease-in;
}
.m-trial-close {
  display: none;
}
.l-trial-close:hover {
background: #2a2a2a;
border-radius: 6px;
}
.l-trial-close:focus {
  background: #404040;
  border-radius: 6px;
  outline: 2px solid #005BD3;
  outline-offset: 1px;
}

/* ==================== ACCORDION STYLES */
.accordion-box {
  /* min-height: 106px; */
  /* max-height: 449px; */
  background-color: var(--white);
  border: 1px solid var(--stroke-s-50);
  color: var(--font-dark);
  border-radius: 18px;
  margin-top: 16px;
  font-weight: 400;
  padding: 8px;
  box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: all 200ms ease-in;
}

.texts-box {
  height: 90px;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}
.texts-text-box {
  width: 376px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.texts-text-heading-box {
  height: 42px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.texts-text-heading-box h3 {
  font-size: 14px;
  font-weight: 600;
}
.texts-text-heading-box p {
  font-size: 13px;
  font-weight: 400;
}
.step-up,
.step-down {
  height: 24px;
  width: 24px;
  background: none;
  outline: none;
  border: none;
  transition: all 200ms ease-in;
}
.button2 {
  width: 134px;
  display: flex;
  padding: 6px 12px;
  align-items: center;
  gap: 8px;
  border: none;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 600;
  color: var(--font-dark-2);
  transition: all 200ms ease-in;
}
.button2:hover {
  border-radius: 6px;
  background: var(--white);
}
.step-up:hover,
.step-down:hover {
  border-radius: 6px;
  background: var(--states-hover, #f1f1f1);
}
.step-up:pressed,
.step-down:pressed {
  border-radius: 6px;
  background: var(--states-pressed);
}
.step-up:focus,
.step-down:focus,
.button2:focus-within {
  border-radius: 6px;
  border: 2px solid var(--states-focused);
}

.progress-box {
  height: 16px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.progress-text {
  font-size: 12px;
  font-weight: 400;
}

/* ----------------------------ACCORDION EACH BOXES */
/* .x-text {
  display: none;

}
.x-active {
  display: block;
} */

.accordion-accordion {
  /* margin-top: 16px; */
  display: flex;
  flex-direction: column;
  gap: 2px;
  align-self: stretch;
}

.accordion-each-box {
  min-height: 38px;
  width: 100%;
  display: flex;
  padding: 8px;
  align-items: center;
  /* gap: 120px; */
  /* align-self: stretch; */
}
.active-each-box {
  /* height: 141px; */
  width: 100%;
  padding: 8px 8px 12px 8px;
  /* border: 1px solid black; */
  border-radius: 10px;
  display: flex;
  /* align-items: center; */
  gap: 96px;
  background: #f3f3f3;
  color: var(--font-mid);
}
.accordion-each-box * {
  /* outline: 1px solid red; */
}
.accordion-left-content {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}
@keyframes zoom-in-spin {
  from {
    transform: scale(0) rotate(270deg);
    opacity: 0;
  }

  to {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.load-spinner {
  animation-duration: 1000ms;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.accordion-check {
  height: 100%;
 }
 .check-btn {
  height: 24px;
  width: 24px;
  background: none;
  outline: none;
  border: none;
 } 
.check-btn:hover .not-completed-icon circle {
stroke-dasharray: 0 0;
}
.check-btn:focus .not-completed-icon circle {
  fill: #d9d9d9;
  stroke-dasharray: 0 0;

  outline: 1px solid #005BD3;
  outline-offset: 2px;
  }
  .complete-check {
    /* background: var(--bg-dark); */
    animation-duration: 300ms;
  animation-name: zoom-in-spin;
  animation-timing-function: linear;
  }
.accordion-both-hp {
  height: 100%;
  max-width: 483.85541px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 2px 0;
}
.panel-trigger {
  outline: none;
  border: none;
  background: none;
  font-size: 13px;
  font-weight: 600;
  line-height: 18.2px;
  color: var(--font-dark);
}


.accordion-panel {
  /* max-height: 0; */
  overflow: hidden;
  max-height: 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
  /* margin-top: 16px; */
  transition: max-height 200ms ease-in-out;
}
.hide-panel {
  max-height: 0px;
  margin-top: 0px;
  overflow: hidden;
  transition: all 200ms ease-in;
}

.accordion-panel p {
  font-size: 13px;
  font-weight: 500;
  line-height: 18.2px;
  color: var(--font-mid);
}
.accordion-panel a {
  color: var(--states-focused);
  font-weight: 500;
  font-size: 14px;
}
.two-btns {
  width: 225px;
  height: 28px;
  display: flex;
  gap: 16px;
}

.button {
  width: 127px;
  height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 6px 12px;
  margin-left: 4px;
  font-size: 11px;
  font-weight: 600;
  color: var(--font-light-2);
  border-top: 1.5px solid var(--stroke-light-100);
  border-right: 1.5px solid var(--stroke-light-100);
  border-left: 1.5px solid var(--stroke-light-100);
  background: #404040;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
  transition: all 200ms ease-in;

}
.button:hover {
  background: #2a2a2a;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 1px 0px 1.5px #333,
    0px 2px 0px 0px #000;
}
.button:pressed {
  background: #2b2b2b;
  box-shadow: 0px 0px 0px 1.5px #333, 0px 3px 0px 0px #000 inset;
}

.button:focus {
  border-top: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-right: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  border-left: 1.5px solid var(--stroke-light-100, rgba(255, 255, 255, 0.2));
  background: #404040;
  outline: 2px solid #005bd3;
  /* box-shadow: 0px 0px 0px 5px #005BD3, 0px 0px 0px 3px #FFF, 0px 0px 0px 1.5px #333; */
  outline-offset: 3px;
}

/* ------------- */

.check-bg {
  background-color: var(--bg-mid);
}

/* ------===================footer */
.m-footer {
  display: none;
}

/* ======================================= */
/* MEDIA QUERIES */
/* ========================================= */
@media screen and (max-width: 767px) {
  .l-logo {
    display: none;
  }
  .m-logo {
    display: block;
  }
  .search {
    max-width: 230px;
  }
  .notification {
    background: none;
  }
  .profile-menu-trigger {
    width: 28px;
    padding: 0;
    background: none;
  }
  .profile-name {
    display: none;
  }
  .main {
    margin-top: 28px;
  }
  .trial-box {
    height: 104px;
    border-radius: 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }
  .trial-text-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .l-trial-close {
    display: none;
  }
  .m-trial-close {
    display: block;
  }
  .trial-btns {
    width: 100%;
    justify-content: flex-start;
  }
  .accordion-box {
    border-radius: 0;
  }
  .texts-box {
    height: 108px;
  }
  .texts-text-heading-box {
    height: 60px;
    /* gap: 24px; */
  }
  .texts-text-heading-box p {
    height: 36px;
  }
  .accordion-right-icon {
    display: none;
  }
  .m-footer {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    height: 128px;
    width: 100%;
    background: #f7f7f7;
    box-shadow: 0px -0.4px 0px 0px #c1c1c1;
  }
  .admin-link-box {
    max-width: 321px;
    height: 42px;
    margin: 0 auto;
    margin-top: 8px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 2px 12px 0px rgba(0, 0, 0, 0.13);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 9px 9px 9px 12px;
  }
  .admin-admin-link {
    height: 22px;
    width: 161px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  .admin-link {
    color: #202124;
    text-align: center;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .m-navbar-bottom {
    display: flex;
    height: 24px;
    max-width: 340px;
    margin: 0 auto;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
  }
  .dash-box {
    height: 34px;
    width: 100%;
    display: flex;
    padding: 21px 128px 8px 128px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
  }
  .dash-dash {
    height: 5px;
    width: 134px;
    background: #000;
    border-radius: 100px;
  }

  /* =-------- */
}
